
<html><body>
<h1>Pokedex information about <b> {{ results.name }} </b> </h1>

<h2>Basic Information</h2>
<table>
<caption>Basic Information</caption>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Species</th>
    <th>Types</th>
    <th>Height</th>
    <th>Weight</th>   
    <th>Base XP</th>
    <th>Default Pokemon</th>
    <th>Forms</th>
  </tr>
  <tr>
    <td>{{ results.name }}</td>
    <td>{{ results.id }}</td>
    <td>{{ results.species.name }}</td>
    <td>{% for type in results.types %}Type: {{ type.type.name }} Slot: {{ type.slot }}{% endfor %}</td>
    <td>{{ results.height }}</td>
    <td>{{ results.weight }}</td>   
    <td>{{ results.base_experience }}</td>
    <td>{{ results.is_default }}</td>
    <td>{% for form in results.forms %}{{ form.name }}{% endfor%}</td>
  </tr>
</table>
</body></html>